<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
</head>
<body>
    <h2>Quiz</h2>
    <p>Score: <span th:text="${score}"></span></p>
    <form th:action="@{/api/quiz/answer}" method="post">
        <label>Question: <span th:text="${question}"></span></label><br>
        <input type="radio" id="true" name="answer" value="true" required>
        <label for="true">True</label><br>
        <input type="radio" id="false" name="answer" value="false">
        <label for="false">False</label><br><br>

        <button type="submit">Submit Answer</button>
    </form>
</body>
</html>